html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

.editorWrapper h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.ql-editor {
  min-height: 200px;
}

.editorWrapper h1 {
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}

.editorWrapper h2 {
  font-size: 2.125rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.00833em;
}

.editorWrapper h3 {
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0;
}

.editorWrapper h4 {
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735;
}

.editorWrapper h5 {
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0;
}

.editorWrapper h6 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.editorWrapper p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  text-align: justify;
}

.editorWrapper img {
  width: 100%;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  padding: 0 !important;
}

.gm-style .gm-style-iw-c {
  padding: 0;
}

.gm-ui-hover-effect {
  display: none;
}

.gm-style .gm-style-iw-d {
  overflow: auto !important;
}
